<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clanmanager">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/clan_manager"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/clan_manager_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddMemberActivity" />
        <activity android:name=".RatingActivity" />
        <activity android:name=".AwardsActivity" />
        <activity android:name=".PasswordResetActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".BehaviorActivity" />
        <activity android:name=".RankingActivity" />
        <activity android:name=".ClanActivity" />
        <activity android:name=".MemberActivity" />
        <activity android:name=".EventActivity" />
        <activity android:name=".MembersPageActivity" />
        <activity android:name=".DetachmentsActivity" />
        <activity android:name=".AddRatingActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>